<div class="card">
  <h2>{{ recipe.title }}</h2>
  <app-ingredients-list [ingredients]="recipe.ingredients"></app-ingredients-list>
  <p>{{ recipe.steps }}</p>
  <button (click)="toggleFavorite.emit()">
    {{ recipe.favorite ? '★ Kedvenc' : '☆ Kedvenc' }}
  </button>
<button (click)="delete.emit()" style="color: rgb(221, 86, 86)">
  Törlés</button>

  <app-collection 
  [recipeCollections]="recipe.collections"
  [collections] = "collections"
  (collectionToggled)="collectionToggled.emit($event)"
  (collectionCreated) ="collectionCreated.emit($event)">
  </app-collection>

</div>

